.section-feedback {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
  ), url("../img/sections_background/section-3.jpg") 50% 70% / cover no-repeat fixed;
  padding: 100px 0 95px 0;
  position: relative;
}

.mark {
  margin-bottom: 45px;
}

.feedback {
  font-size: 16px;
  color: #aeaeae;
  text-align: center;
  line-height: 32px;
  display: none;
  height: 64px;
}

.writer-name {
  font-size: 16px;
  color: #18cfab;
  text-transform: uppercase;
  margin: 35px 0 20px 0;
  display: none;
}

.work-position {
  font-size: 13px;
  color: #aeaeae;
  margin-bottom: 30px;
  display: none;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-photo {
  height: 165px;
  width: 165px;
  border: 10px solid rgba(24, 207, 171, 0.3);
  border-radius: 165px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.slider-main-img{
  height: 145px;
  width: 145px;
  border: 4px solid #18cfab;
  border-radius: 145px;
  box-sizing: border-box;
  max-width: 100%;
}

.slider-button {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 3;
  margin: 15px;
}

.slider-button:hover {
  background-color: #18cfab;
  border: 1px solid #18cfab;
}

.left-button {
  background: url("../img/slider/left.png") no-repeat center;
}

.right-button {
  background: url("../img/slider/right.png") no-repeat center;
}

.slider-img-border {
  height: 65px;
  width: 65px;
  border: 5px solid rgba(24, 207, 171, 0.3);
  border-radius: 65px;
  margin: 15px;
}

.slider-img {
  height: 65px;
  width: 65px;
  border-radius: 65px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  cursor: pointer;
}

.slider-img-active {
  margin: 0 15px 30px 15px;
}

.slider-img-active .slider-img {
  border: 2px solid #18cfab;
}

.photos-list {
  width: 420px;
  overflow: hidden;

}

.photos-line {
  position: relative;
  width: 735px;
  left: 0;
  transition: 0.3s;
}

.feedback-link {
  font-size: 16px;
  cursor: pointer;
  color: #18cfab;
}

.feedback-bg {
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.full-feedback {
  width: 40%;
  background-color: #fff;
  border: 3px solid #18cfab;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

.full-feedback p {
  line-height: 25px;
  color: #000;
}

.full-feedback-close-btn {
  position: absolute;
  right: -36px;
  top: -31px;
  font-size: 30px;
  color: #18cfab;
  cursor: pointer;
}